/*******************************************************************************
Slate Theme for GitHub Pages
by Jason Costello, @jsncostello
*******************************************************************************/

@import url(pygment_trac.css);

/*******************************************************************************
MeyerWeb Reset
*******************************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a:focus {
  outline: none;
}

/*******************************************************************************
Theme Styles
*******************************************************************************/

body {
  box-sizing: border-box;
  color:#373737;
  background: #FFF;
  font-size: 16px;
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-weight: 700;
  color:#222222;
  font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
  letter-spacing: -1px;
}

h1 {
  font-size: 36px;
  font-weight: 700;
}

h2 {
  padding-bottom: 10px;
  font-size: 32px;
  background: url('../images/bg_hr.png') repeat-x bottom;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 21px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}


p {
  margin: 10px 0 15px 0;
}

footer p {
  color: #000;
}

a {
  text-decoration: none;
  color: #007edf;
  text-shadow: none;
  cursor: pointer;

  transition: color 0.5s ease;
  transition: text-shadow 0.5s ease;
  -webkit-transition: color 0.5s ease;
  -webkit-transition: text-shadow 0.5s ease;
  -moz-transition: color 0.5s ease;
  -moz-transition: text-shadow 0.5s ease;
  -o-transition: color 0.5s ease;
  -o-transition: text-shadow 0.5s ease;
  -ms-transition: color 0.5s ease;
  -ms-transition: text-shadow 0.5s ease;
}

#main_content {
    padding-top: 0;
    margin-top: 0;
}

#main_content a:hover {
  text-shadow: #0090ff 0px 0px 2px;
}

footer a:hover {
  color: #43adff;
  text-shadow: #0090ff 0px 0px 2px;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

img {
  position: relative;
  margin: 0 auto;
  max-width: 739px;
  padding: 5px;
  margin: 10px 0 10px 0;
  border: 1px solid #ebebeb;

  box-shadow: 0 0 5px #ebebeb;
  -webkit-box-shadow: 0 0 5px #ebebeb;
  -moz-box-shadow: 0 0 5px #ebebeb;
  -o-box-shadow: 0 0 5px #ebebeb;
  -ms-box-shadow: 0 0 5px #ebebeb;
}

pre, code {
  width: 100%;
  color: #222;
  background-color: #EEE;

  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size: 14px;

  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;



}

pre {
  width: 100%;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  overflow: auto;
}

code {
  padding: 3px;
  margin: 0 3px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
}

pre code {
  display: block;
  box-shadow: none;
}

blockquote {
  color: #666;
  margin-bottom: 20px;
  padding: 0 0 0 20px;
  border-left: 3px solid #bbb;
}

ul, ol, dl {
  margin-bottom: 15px
}

ul li {
  list-style: inside;
  padding-left: 20px;
}

ol li {
  list-style: decimal inside;
  padding-left: 20px;
}

ol.tutorial>li {
  font-weight: 700;
}

ol.tutorial li p,
ol.tutorial li pre {
  font-weight: normal;
}

dl dt {
  font-weight: bold;
}

dl dd {
  padding-left: 20px;
  font-style: italic;
}

dl p {
  padding-left: 20px;
  font-style: italic;
}

hr {
  height: 1px;
  margin-bottom: 5px;
  border: none;
  background: url('../images/bg_hr.png') repeat-x center;
}

table {
  border: 1px solid #373737;
  margin-bottom: 20px;
  text-align: left;
 }

th {
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 10px;
  background: #373737;
  color: #fff;
 }

td {
  padding: 10px;
  border: 1px solid #373737;
 }

form {
  background: #f2f2f2;
  padding: 20px;
}

img {
  width: 100%;
  max-width: 100%;
}

em {
  font-style: normal;
  color: #EEE;
  font-weight: bold;
}

/*******************************************************************************
Full-Width Styles
*******************************************************************************/

.outer {
  width: 100%;
}

.inner {
  position: relative;
  max-width: 640px;
  padding: 10px;
  padding-top: 0;
  margin: 0 auto;
  clear: both;
}

span#logo {
  position: absolute;
  float: right;
  background: url('hypercube_logo_75.png') no-repeat 0 0;
  width: 75px;
  height: 75px;
  margin-top: 15px;
}

#banner_wrapper {
  padding: 0;
}

#demo_banner {
  padding: 10px;
  padding-right: 35px;
  color: #fff;
  background: #0090ff;
  font-weight: 700;
  box-shadow: 0 3px 10px rgba(0,0,0,.8);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

#demo_banner a {
  position: relative;
}

#demo_banner span#arrow {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 0;
    margin-right: 10px;
    background: url('arrows.png') no-repeat -25px -18px;
}

#demo_banner.open span#arrow {
    background-position: -25px 4px;
}

#header_wrap {
  background: url('cube_header.png') #d4d4d4 no-repeat center 0;
  height: 285px;
  position: relative;
}

#header_wrap .inner {
  padding: 20px 10px 30px 10px;
}

header {
    text-align: right;
    position: absolute;
    left: 0;
    right: 50%;
    top: 0;
    bottom: 0;
    margin-right: 320px;
    background: rgba(30, 144, 255, 0.8);
}

header h6, header h3 {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 10px;
    margin: 0;
    color: white;
}

header h3 {
    font-size: 72px;
    font-family: Helvetica;
}

#project_title {
  margin: 0;
  color: #000;
  font-size: 47px;
  font-weight: 700;
  text-shadow: 3px 4px 10px #999;
  margin-left: 85px;
}

#project_tagline {
  color: #222;
  font-size: 16px;
  font-weight: 300;
  background: none;
  text-shadow: #FFF 0px 0px 10px;
  margin-left: 88px;
  margin-top: 0;
}

#downloads {
  position: absolute;
  width: 210px;
  z-index: 10;
  bottom: -40px;
  right: 0;
  height: 70px;
  background: url('../images/icon_download.png') no-repeat 0% 90%;
}

.zip_download_link {
  display: block;
  float: right;
  width: 90px;
  height:70px;
  text-indent: -5000px;
  overflow: hidden;
  background: url(../images/sprite_download.png) no-repeat bottom left;
}

.tar_download_link {
  display: block;
  float: right;
  width: 90px;
  height:70px;
  text-indent: -5000px;
  overflow: hidden;
  background: url(../images/sprite_download.png) no-repeat bottom right;
  margin-left: 10px;
}

#main_content_wrap {
  background: url('cube_header.png') #FFF no-repeat center -286px;
  border-top: 1px solid dodgerblue;
  border-bottom: 1px solid dodgerblue;
}

#footer_wrap {
  background: #EEE;
}

#example {
  display: none;
  height: 800px;
  background: #d4d4d4;
  padding: 40px 10%;
  padding-bottom: 0;
}

#example iframe {
    border: 2px solid #999;
    background: white;
    margin-top: -2px;
}

.info {
    display: none;
    margin-left: 20px;
}

pre span {
    color: green;
}

span.value {
    color: #666;
    font-weight: bold;
    font-family: monospace;
    font-size: 14px;
}

.menu {
    position: absolute;
    top: 0;
}

.menu span, .menu a {
    margin:  0   10px;
}

.menu span:first-child, .menu a:first-child {
    margin-left:  0;
}

.column {
    float: left;
    width: 172px;
    margin: 0 10px;
    padding: 0 10px;
    text-align: center;
}

.column:last-child {
    border: 0;
}

.column p {
    text-align: left;
}

#columns {
    margin-top: 50px;
    overflow: hidden;
}

#columns h5 {
    margin: 0 auto;
}
/*******************************************************************************
Small Device Styles
*******************************************************************************/

@media screen and (max-width: 480px) {
  body {
    font-size:14px;
  }

  #downloads {
    display: none;
  }

  .inner {
    min-width: 320px;
    max-width: 480px;
  }

  #project_title {
  font-size: 32px;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 21px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 14px;
  }

  h6 {
    font-size: 12px;
  }

  code, pre {
    min-width: 320px;
    max-width: 480px;
    font-size: 11px;
  }

}
