#pictureContainer
    position    static !important
    float       left !important
    clear       both !important
    margin-top  50px !important
    height      auto !important
    width       auto !important
    background  none !important
    border      none !important
    img#picture
        position    static
        top         initial

#data
    position    static !important
    top         initial !important
    bottom      initial !important
    padding-top 20px !important
    
