script(type="text/html")#item-template
  | <%
  |   var pic = window.App.getPicKey();
  |   var etiquettes = window.App.getItemEtiquettes(m);
  |   var model = m.parseSubfields();
  |   function addEtiquettes() {
  |       _.each(etiquettes, function(e) {
  |           if (!e) { return; };
  |           var etq = window.App.getEtiquetteById(e);
  |           var label = e;
  |           var style, font;
  |           if (etq) {
  |               label = etq.label;
  |               style = "background-image:url('"+etq.image+"');";
  |               font = "color:"+etq.font;
  |           }; %>
  |           <span class="etiquette" style="<%= style %>'">
  |               <label style="<%= font %>"><%= label %></label>
  |           </span><%
  |       });
  |   };
  | %>
  | <div class="view">
  |     <div class="etiquettes"><%
  |         addEtiquettes(); %>
  |     </div>
  |     <img class="thumbnail" src="<%= model[pic] %>">
  |     <div class="label"><%= window.App.getThumbnailLabel(model) %></div>
  | </div>

script(type="text/html")#item-table-template
  | <%
  |   var pic = window.App.getPicKey();
  |   var schema = window.Settings.Schema.get();
  |   var etiquettes = window.App.getItemEtiquettes(m);
  |   var model = m.parseSubfields();
  |   var dimg = '/images/default-avatar.png';
  |   function fieldImg(field, model) { %>
  |       <img src="<%= model[field.id] || dimg %>" class="hoverpic"/>
  |       <div id="hoverpicEtiquettes" class="etiquettes"><%
  |           addEtiquettes(); %>
  |       </div>
  |       <div class="cont miniPicContainer"><%
  |           addMiniEtiquette(etiquettes, 'marked', false, model); %>
  |           <object class="miniPic" data="<%= model[field.id] %>">
  |               <img class="miniPic" src="<%= dimg %>"/>
  |           </object>
  |       </div><%
  |   };
  |   function fieldText(field, model) { %>
  |       <%= model[field.id] %><%
  |   };
  |   function fieldFacet(field, model) { %>
  |       <%= model[field.id] %><%
  |   };
  |   function fieldDate(field, model) { %>
  |       <%= window.App.formatDate(model[field.id]) %><%
  |   };
  |   function fieldTuple(field, model) {
  |       addRowEtiquettes(etiquettes);
  |   };
  |   function renderField(field, model) {
  |       rf = fieldText;
  |       if (field['type'] === 'facet')  { rf = fieldFacet;  };
  |       if (field['type'] === 'date')   { rf = fieldDate;   };
  |       if (field['type'] === 'img')    { rf = fieldImg;    };
  |       if (field['type'] === 'tuple')  { rf = fieldTuple;  };
  |       rf(field, model);
  |   };
  |   function addEtiquettes() {
  |       _.each(etiquettes, function(e) {
  |           if (!e) { return; };
  |           var etq = window.App.getEtiquetteById(e);
  |           var css, bg, font;
  |           var label = e;
  |           if (etq) {
  |               css = "background-image:url('"+etq.image+"')";
  |               var bgimg = etq.image.split('.')[0] + '-bar.png';
  |               bg = "background-image:url('"+bgimg+"');";
  |               bg += "color:"+etq.font;
  |               label = etq.label;
  |           }; %>
  |           <div class="bigEtiquette hc" title="<%= label %>">
  |               <span class="etiquetteFold" style="<%= css %>"></span>
  |               <label class="hc" style="<%= bg %>"><%= label %></label>
  |               <span class="etiquetteTip" style="<%= css %>"></span>
  |           </div><%
  |       });
  |   };
  |   function addRowEtiquettes(etiquettes) {
  |       _.each(etiquettes, function(e) {
  |           if (!e) { return; };
  |           var etq = window.App.getEtiquetteById(e);
  |           var label = etq ? etq.label : e;
  |           var bg, font = '';
  |           if (etq) {
  |               bg = "background:"+etq.color;
  |               font = "color:"+etq.font;
  |           }; %>
  |           <span class="rowEtiquette" style="<%= bg %>">
  |               <label style="<%= font %>"><%= label %></label>
  |           </span><%
  |       });
  |   };
  |   function addMiniEtiquette(etiquettes, cls, color, model) {
  |       if (!etiquettes || !etiquettes.length) { return; };
  |       var etq = window.App.getMiniEtiquette(etiquettes);
  |       if (!etq) { return; };
  |       var imgname = etq.image.split('.')
  |       var mini = imgname[0] + '-mini.' + imgname[1];
  |       var css = "background-image:url('" + mini + "')"; %>
  |       <span class="miniEtq" <%
  |           if (mini) { %>style="<%= css %>"<% } %>>
  |       </span><%
  |   };
  |   _.each(schema, function(f) { %>
  |       <td class="<%= f.id %><% if (f.index) { %> visible<% }; %>"
  |           title="<%= model[f.id] %>" ><%
  |           renderField(f, model); %>
  |       </td><%
  |   });
  | %>
