script(type="text/template")#details-template
  | <%
  |   var model = m.parseSubfields();
  |   var schema = window.Settings.Schema;
  |   var pic = window.App.getPicKey();
  |   var pictures = schema.getPictures().length
  |   var cls = pictures === 0 ? 'noPicture' : '';
  |   var etiquettes = window.App.getItemEtiquettes(m);
  |   if (schema.getAdditionals().length == 0 && !window.App.isAdmin()) {
  |       cls += ' noButtons'
  |   };
  |   function renderField(field, value) {
  |       rf = fieldText;
  |       if (field['type'] === 'date') { rf = fieldDate;
  |           value = window.App.formatDate(value);
  |       };
  |       if (field['type'] === 'dropdown') { rf = fieldDropdown; };
  |       if (field['type'] === 'multiline') { rf = fieldMultiline; };
  |       if (field['type'] === 'skype') { rf = fieldSkype; };
  |       if (field['type'] === 'email') { rf = fieldEmail; };
  |       if (field['type'] === 'facet') { rf = fieldFacet; };
  |       if (field['type'] === 'tuple') { rf = fieldTuple; };
  |       if (field['type'] === 'link') { rf = fieldLink; };
  |       if (field['type'] === 'img') { return; };
  |       rf(field, value);
  |   };
  |   function fieldText(field, value) { %>
  |       <li>
  |           <label for="<%= field.id %>" ><%= field.label %></label>
  |           <div class="mask">
  |               <span id="left"  class="scroll"></span>
  |               <span id="right" class="scroll"></span>
  |               <div class="text-container" id="<%= field.id %>"><%
  |                   if (field.multivalue) {
  |                       addMultivalue(value, field.id, 'filter');
  |                   } else { %><%= value %><% } %>
  |               </div>
  |           </div>
  |           <input type="text" id="<%= field.id %>" class="hidden"
  |               value="<%= value %>"/>
  |       </li><%
  |   };
  |   function fieldFacet(field, value ) {
  |       if (window.App.isTuple(field.id)) { return ; }; %>
  |       <li>
  |           <label for="<%= field.id %>" ><%= field.label %></label>
  |           <div class="mask">
  |               <span id="left"  class="scroll"></span>
  |               <span id="right" class="scroll"></span>
  |               <div class="text-container" id="<%= field.id %>"><%
  |                   addMultivalue(value, field.id, 'filter'); %>
  |               </div>
  |           </div>
  |           <input type="text" id="<%= field.id %>"
  |               class="autocomplete hidden facet" <%
  |               if (field.multivalue) {%> data-type="multivalue" <% }; %>
  |               value="<%= value %>" />
  |       </li><%
  |   };
  |   function fieldMultiline(field, value) { %>
  |       <li class="adaptive">
  |           <label for="<%= field.id %>"  class="mult"><%=
  |               field.label %>
  |           </label>
  |           <div class="multilineWrapp">
  |               <p><%= value %></p>
  |               <textarea id="<%= field.id %>" wrap="virtual"><%=
  |                   value
  |               %></textarea>
  |           </div>
  |       </li><%
  |   };
  |   function fieldDropdown(field, value) { %>
  |       <li>
  |           <label for="<%= field.id %>" ><%= field.label %></label>
  |           <div class="dropdownMask">
  |               <select name="<%= field.id %>" id="<%= field.id %>"
  |                   disabled="disabled"><%
  |                   _.each(field.options, function(option) { %>
  |                       <option value="<%= option %>"<%
  |                           if (!value && option === "") { %>selected<% };
  |                           if (value === option) { %>selected<% };%>>
  |                           <%= option %>
  |                       </option><%
  |                   }); %>
  |               </select>
  |           </div>
  |       </li><%
  |   };
  |   function fieldEmail(field, value) { %>
  |       <li>
  |           <label for="<%= field.id %>" ><%= field.label %></label>
  |           <div class="mask">
  |               <span id="left"  class="scroll"></span>
  |               <span id="right" class="scroll"></span>
  |               <div class="text-container" id="<%= field.id %>">
  |                   <a class="link" id="email" href="mailto:<%= value %>">
  |                       <%= value %>
  |                   </a>
  |               </div>
  |           </div>
  |           <input type="text" id="<%= field.id %>" class="hidden"
  |               value="<%= value %>"/>
  |       </li><%
  |   };
  |   function fieldDate(field, value) { %>
  |       <li>
  |           <label for="<%= field.id %>" ><%= field.label %></label>
  |           <div class="mask"><%= value %></div>
  |           <input type="text" id="<%= field.id %>" class="hidden"
  |               value="<%= value %>" data-type="date" readonly="readonly"/>
  |       </li><%
  |   };
  |   function fieldSkype(field, value) {
  |       %><li>
  |           <label for="<%= field.id %>" ><%= field.label %></label>
  |           <div class="mask">
  |               <span id="left"  class="scroll"></span>
  |               <span id="right" class="scroll"></span>
  |               <div class="text-container" id="<%= field.id %>">
  |                   <a class="link" id="email"
  |                       href="skype:<%= value %>?chat">
  |                       <%= value %>
  |                   </a>
  |               </div>
  |           </div>
  |           <input type="text" id="<%= field.id %>" class="hidden"
  |               value="<%= value %>"/>
  |       </li><%
  |   };
  |   function fieldLink(field, value) { %>
  |       <li>
  |           <label for="<%= field.id %>" ><%= field.label %></label>
  |           <div class="mask">
  |               <span id="left"  class="scroll"></span>
  |               <span id="right" class="scroll"></span>
  |               <div class="text-container" id="<%= field.id %>"><%
  |                   if (field.multivalue) {
  |                       addMultivalue(value, field.id, 'filter', link);
  |                   } else { %>
  |                       <a class="link" target="_blank" href="<%= value %>">
  |                           <%= value %>
  |                       </a><%
  |                   } %>
  |               </div>
  |           </div>
  |           <input type="text" id="<%= field.id %>" class="hidden" <%
  |               if (field.multivalue) {%> data-type="multivalue" <% }; %>
  |               value="<%= value %>"/>
  |       </li><%
  |   };
  |   function link(value) { %>
  |       <a class="link" target="_blank" href="<%= value %>">
  |           <%= value %>
  |       </a><%
  |   };
  |   function fieldTuple(field, values ) { %>
  |       <li class="adaptive">
  |           <label for="<%= field.id %>" class="mult">
  |               <%= field.label %>
  |           </label>
  |           <div class="mask tuple">
  |               <% tupleLinks(values, field); %>
  |           </div>
  |           <div id="<%= field.id %>" class="tupleWrapper hidden"><%
  |               _.each(values, function(value) {
  |                   tupleInput(field, value)
  |               });
  |               tupleInput(field) %>
  |           </div>
  |       </li><%
  |   };
  |   function tupleInput(field, value) {
  |       value = value || '';
  |       var v1 = value.split(':')[0];
  |       var v2 = value.split(':')[1]; %>
  |       <div id="<%= field.id %>" class="tupleField">
  |           <input type="text" id="<%= field.id %>_1"
  |               class="autocomplete tuple p1" <%
  |               if (field.multivalue) {%> data-type="tuple" <% }; %>
  |               value="<%= v1 %>" /><span class="tupleColon">:</span>
  |           <input type="text" id="<%= field.id %>_2"
  |               class="autocomplete tuple p2" <%
  |               if (field.multivalue) {%> data-type="tuple" <% }; %>
  |               value="<%= v2 %>" />
  |       </div><%
  |   };
  |   function tupleLinks(values, field) {
  |       var cat1 = field.id.split(':')[0];
  |       var cat2 = field.id.split(':')[1];
  |       _.each(values, function(value) {
  |           var v1 = value.split(':')[0];
  |           var v2 = value.split(':')[1];
  |           var f1 = v1 ? 'filter' : '';
  |           var f2 = v2 ? 'filter' : ''; %>
  |           <div class="text-container tuple" id="<%= field.id %>">
  |               <a class="tuple p1 <%= f1 %>" data-name="<%= cat1 %>"
  |                   data-title="<%= v1 %>"><%= v1 || '(not set)' %></a>
  |                   <span class="tupleColon">:</span>
  |               <a class="tuple p2 <%= f2 %>" data-name="<%= cat2 %>"
  |                   data-title="<%= v2 %>"><%= v2 || '(not set)' %></a>
  |           </div><%
  |       });
  |   };
  |   function addMultivalue(values, cat, classes, cb) {
  |       if (!values || values.length == 0) { return; };
  |       _.each(values, function(v, i, a) {
  |           if (cb) { return cb(v); }; %>
  |           <a data-name="<%= cat %>" data-title="<%= v %>"
  |               class="<%= classes %>">
  |               <%= v %>
  |           </a><%
  |           if (a.length > 1 && i<a.length-1) { %>,<% };
  |       });
  |   };
  |   function addProfilePicture(m) { %>
  |     <div id="pictureContainer">
  |         <div class="etiquettes"><%
  |             addEtiquettes(etiquettes, false, m); %>
  |         </div><%
  |         if (m[pic] === undefined) { %>
  |             <img id="default" src="/images/default-avatar.png">
  |             <p>Click to upload photo</p><%
  |         }; %>
  |         <div class="inputPicContainer">
  |             <input type="file" name="picture" data-url="/picture"
  |                 id="pic" disabled="disabled" data-type="img"/>
  |         </div>
  |         <img id="picture" src="<%= m[pic] %>"/>
  |     </div><%
  |   };
  |   function addEtiquettes(etiquettes, color, model) {
  |       _.each(etiquettes, function(e) {
  |           if (!e) { return; };
  |           var etq = window.App.getEtiquetteById(e);
  |           var css, bg = '';
  |           var label = etq ? etq.label : e;
  |           if (etq) {
  |               css = "background-image:url('"+etq.image+"')";
  |               var bgimg = etq.image.split('.')[0] + '-bar.png';
  |               bg = "background-image:url('"+bgimg+"');";
  |               bg += "color:"+etq.font;
  |           };
  |           if (etq && color) { css = "background:"+etq.color; }; %>
  |           <div class="bigEtiquette" title="<%= label %>">
  |               <span class="etiquetteFold" style="<%= css %>"></span>
  |               <label style="<%= bg %>"><%= label %></label>
  |               <span class="etiquetteTip" style="<%= css %>"></span>
  |           </div><%
  |       });
  |   };
  | %>
  | <a class="destroy"></a><%
  | if (schema.getPictures().length) { addProfilePicture(model); }; %>
  | <div id="data" class="<%= cls %>">
  |     <ul><%
  |         _.each(schema.get(), function(a) {
  |             if (a['type'] === "img") { return; };
  |             if (a['additional'] || a['hidden']) { return; };
  |             renderField(a, model[a.id]); });
  |             if (schema.getAdditionals().length) { %>
  |                 <li class="additional">
  |                     <span id="arrow" class="<%
  |                         if (window.additionalOpen) { %>active<%}; %>">
  |                     </span>
  |                     <label for="additional-parameters" class="additional">
  |                         Additional Information
  |                     </label>
  |                     <ul class="<%
  |                         if (window.additionalOpen) {%>open <% } %>"><%
  |                         _.each(schema.getAdditionals(), function(a) {
  |                             if (a['hidden']) { return; }
  |                             renderField(a, model[a.id]);
  |                         }); %>
  |                     </ul>
  |                 </li><%
  |             }; %>
  |     </ul>
  |     <div id="extensions"></div>
  | </div><%
  | if (window.App.isEditable() || schema.getAdditionals().length) { %>
  |     <div id="buttons">
  |         <a id="edit" class="btn">Edit</a>
  |         <a id="save" class="btn">Save</a><%
  |         if (window.App.isAdmin()) { %>
  |             <a id="delete" class="btn">Delete</a><%
  |         } %>
  |     </div><%
  | } %>

