#teamData li
    width       100%

#controls span#newbies
    background  url('/entities/team/assets/newbies.png') no-repeat 0 -30px
    &.active
        background-position 0 0

#pane #teamPicture
    overflow          hidden
    height            180px

#pane ul li ul.statistics a
    line-height       18px

#pane li.additional
      .multilineWrapp
          margin-left   90px
      textarea
          position      absolute
          border        0
          color         black
          resize        none
          background-color    #FFF
          margin-left   0
          width         170px
          left          88px
          margin        0
          &.edit
              left      90px
