.ui-datepicker
    width               231px
    height              auto
    margin              5px autio 0
    font                9pt Arial, sans-serif
    border              1px solid dodgerblue

.ui-datepicker a
    text-decoration     none

.ui-datepicker table
    width               100%
    border-spacing      0
    background          #EEE

.ui-datepicker-header
    background          #CCC
    color               #e0e0e0
    font-weight         bold
    text-shadow         1px -1px 0px #000
    filter              dropshadow(color=#000, offx=1, offy=-1)
    line-height         30px

.ui-datepicker-title
    text-align          center

.ui-datepicker-prev, .ui-datepicker-next
    display             inline-block
    width               30px
    height              30px
    text-align          center
    cursor              pointer
    background-repeat   no-repeat
    line-height         600%
    overflow            hidden

.ui-datepicker-prev
    float               left
    background-position -73px -186px
    background-image    url('/assets/date-left.png')
    background-position center center

.ui-datepicker-next
    float               right
    background-position center center
    background-image    url('/assets/date-right.png')

.ui-datepicker th
    text-transform      uppercase
    font-size           6pt
    padding             5px 0
    color               #666
    text-shadow         1px 0 0 #fff
    filter              dropshadow(color=#fff, offx=1, offy=0)
    border-bottom       1px solid #CCC

.ui-datepicker tbody td
    padding             0
    border-right        1px solid #CCC
    border-bottom       1px solid #CCC


.ui-datepicker tbody td:last-child
    border-right        0

.ui-datepicker tbody tr
    border-bottom       1px solid #CCC

.ui-datepicker tbody tr:last-child
    border-bottom       0

.ui-datepicker td span, .ui-datepicker td a
    display             inline-block
    font-weight         bold
    text-align          center
    width               30px
    height              30px
    line-height         30px
    color               #666666
    text-shadow         1px 1px 0px #fff
    filter              dropshadow(color=#fff, offx=1, offy=1)

.ui-datepicker-calendar .ui-state-default
    background          white

.ui-datepicker-unselectable .ui-state-default
    background          #f4f4f4
    color               #b4b3b3

.ui-datepicker-calendar .ui-state-hover
    background          #cfe8ff

.ui-datepicker-calendar .ui-state-active
    border              1px solid black
    position            relative
    margin              -1px

.ui-datepicker-buttonpane
    background          #CCC
    height              30px
    line-height         30px

.ui-autocomplete
    list-style          none
    background          white
    max-height          100px
    overflow-x          hidden
    overflow-y          auto
    padding             0
    margin              0
    max-width           128px
    border              1px solid dodgerblue
    li
        border-bottom   1px solid #CCC
        padding         0
        cursor          pointer
        white-space     nowrap
        a
            display     block
            padding     5px
        &:hover
            background  #cfe8ff

.ui-state-focus
    background          #cfe8ff

.ui-helper-hidden-accessible
    display             none

.ui-resizable
    position            relative

.ui-resizable-handle
    position            absolute
    font-size           0.1px
    display             block

.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle
    display             none

.ui-resizable-n
    cursor              n-resize
    height              7px
    width               100%
    top                 -5px
    left                0

.ui-resizable-s
    cursor              s-resize
    height              7px
    width               100%
    bottom              -5px
    left                0

.ui-resizable-e
    cursor              e-resize
    width               10px
    right               -5px
    top                 0
    height              100%

.ui-resizable-w
    cursor              w-resize
    width               7px
    left                -5px
    top                 0
    height              100%

.ui-resizable-se
    cursor              se-resize
    width               12px
    height              12px
    righ                1px
    bottom              1px

.ui-resizable-sw
    cursor              sw-resize
    width               9px
    height              9px
    left                -5px
    bottom              -5px

.ui-resizable-nw
    cursor              nw-resize
    width               9px
    height              9px
    left                -5px
    top                 -5px

.ui-resizable-ne
    cursor              ne-resize
    width               9px
    height              9px
    right               -5px
    top                 -5px
